AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
# AWS_SESSION_TOKEN=your_session_token  # only needed for temporary credentials

# ARNs of the secrets used by the examples
SECRET_ARN=arn:aws:secretsmanager:eu-west-1:123456789012:secret:myapp/single
SECRET_ARN_DB=arn:aws:secretsmanager:eu-west-1:123456789012:secret:myapp/db
SECRET_ARN_API=arn:aws:secretsmanager:eu-west-1:123456789012:secret:myapp/api
